.box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.Bao{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1vw;
    margin: 10vw;
    text-align: center;
    font-weight: lighter;

}

a {
    text-decoration: none;
    color: black;
}

a:hover{
  color: transparent;
}

a::before,
a::after {
 content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

a:hover:after{
    text-decoration: underline;
    color: black;
    content:"Enjoy!"

}

a:visited {
    color: black;
  }
