.header-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1vw;
    margin: 10vw;
    text-align: center;
    font-weight: lighter;
    
}

img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited {
    color: black;
  }

