.header-logo{

}

.h1{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 2vw;
    margin: 15vw;
    text-align: center;
    font-weight: lighter;
}

img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}